<body class="team<%= @find_mr_average.team_id %>">
  <div class="container text-center">
    <p id="mr-average">Mr. Average is<br><a tabindex="0" class="has-popover team<%= @find_mr_average.team_id %>" role="button" data-toggle="popover" data-placement="bottom" title="2016 Statistics" data-content="<%= render 'stats' %>"><%= @find_mr_average.first_name %> <%= @find_mr_average.last_name %></a></p>
    <p class="other-day text-left">&nbsp;<%# link_to "< Yesterday", yesterday_url %></p>
    <p id="links">Made with <i class="fa fa-heart-o"></i> by<br><a class="team<%= @find_mr_average.team_id %>" href="http://twitter.com/seanoldham">Sean Oldham</a></p>
  </div>
</body>
